#countLabel{
    display:block;

    text-align: center;
    font-size: 10em;
    font-family:  Helvetica;
}
#btnContainer{
    text-align: center;
}
.button{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: #051567;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button:hover {
    background-color: #0056b3;

}